#paragraphe{
    border: none;
    border-radius: 5px;
    background-color: rgb(1, 1, 147);
    margin: 1%;
    color : white;
    padding: 1%;
    text-align: center;
}
#button1{
    border: none;
    border-radius: 5px;
    background-color: rgb(1, 1, 147);
    margin: 1%;
    color : white;
    padding: 3%;
    text-align: center;
}

body{
    margin-left: 30%;
    margin-right: 30%;
}

.formulaire {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;;
    box-shadow:inset 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.form-control {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 40px;
}

.is-valid {
    border-color: #28a745;
}

.is-invalid {
    border-color: #dc3545;
}

.valid-feedback {
    color: #28a745;
    font-size: 14px;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
}

.form-check-input {
    margin-top: 20px;
    margin-left: 100px;
}

button:hover {
    background-color: #0056b3;
}

.form-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.genre {
    margin-bottom: 15px;
}

.form-label {
    font-size: 120%;
    color: #333;
    margin-left: 5px;
}

.prenom, .email, .genre ,.ville, .tele {
    margin-bottom: 20px;
}

.option{
    font-size: 70%;
}
.form-check-label{
    font-size: 80%;
}
